$primary-color: #9D9C9E;
$font: 'Open Sans Condensed', sans-serif;

html {
	height: 100%;
	body {
		font-family: $font;
		background: url(../images/bg.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 100%;
		display: flex;
		flex-direction: column;
		.wrapper {
			display: flex;
			margin-top: 10%;
			.column {
				flex: 1;
				display: flex;
				flex-direction: column;
				color: white;
				margin: 10px;
			}
			.main-column {
				flex: 5;
				height: 50%;
				.social {
					background: rgba(0, 0, 0, 0.4);
					margin: 0 auto;
					list-style: none;
					li {
						font-size: 20px;
						.fa{
							color: white;
							&:hover {
								color: #2084C6;
							}

						}
					}
				}
				.main-image {
					padding: 20px;
					display: block;
					img {
						display: block;
						height: 150px;
						width: auto;
						border-radius: 50%;
						margin: 0 auto;
						margin-bottom: -10px;
					}
				}
				.about-content, .about1 {
					background: rgba(0, 0, 0, 0.6);
					margin: 0 auto;
					padding: 20px;
					max-width: 300px;
					height: auto;
					display: none;
					.name {
						font-size: 30px;
						font-weight: bold;
						margin: 0;
					}
				}
				.eIcons {
					margin: 0 auto;
					ul {
						background: rgba(0, 0, 0, 0.4);
						margin: 0 auto;
						list-style: none;
						max-width: 300px;
						li {
							font-size: 20px;
							padding: 2px 5px 2px 5px;
							.fa, img{
								color: white;
								&:hover {
									color: #2084C6;
								}

							}
						}
					}
					.edu {
						#EduButton {
							width: auto;
							height: 25px;

						}
					}
					.exp {
					}
				}
			}
			.port-wrapper {
				flex: 8;
				flex-direction: row;
				background: transparent;
				margin: 0;
				margin-top: -5%;
				.skills {
					// margin-top: 15%;
					.skill {
					}
				}
				.skills-text {
					flex: 3;
					.skill-text {
						height: 14em;
						padding: 5px;
						padding-left: 10px;
						p{
							display: none;
						}
					}
				}
				.skills-name {
					flex: 1;
					text-align: center;
					font-weight: 1000;
					.skill-name {
						margin-top: -10%;
						a {

							cursor: pointer;
							img {
								width: 300px;
								height: auto;
								&:hover {
									cursor: pointer;
								}
							}
						}
					}
				}
			}
		}
	}
}


.modal {

}

@media screen and (max-width: 524px) {
	html {
		body {
			.wrapper {
				display: block;
				.port-wrapper {
					.skills-text {
						display: none;
					}
					.skills-name {
						margin-top: 8%;
					}
				}
			}
		}
	}
}

@media (min-width:525px) and (max-width:1000px) {
	html {
		body {
			.wrapper {
				.port-wrapper {
					.skills-text {
						display: none;
					}
					.skills-name {
						margin-left: -10%;
						margin-top: 10%;
					}
				}
			}
		}
	}
}



// Under Construction Header //

@media screen and (max-width: 550px) {
	html {
		body {
			.wrapper {
				header {
					margin-left: 10% !important;
				}
			}
		}
	}
}







