$primary-color: #9D9C9E;
$font: 'Open Sans Condensed', sans-serif;

$yellowOne:rgb(254,193,13);
$blueOne: rgb(121,181,221);
$blueTwo: rgb(216,239,255);
$blueThree: rgb(216,239,255);

html {
	height: 100%;
	body {
		font-family: $font;
		/*background: url(../svgs/bg2-01.svg) no-repeat center center fixed;*/ 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 100%;
		display: flex;
		flex-direction: column;
		.wrapper {
			display: flex;
			margin-top: 10%;
			.column {
				flex: 1;
				display: flex;
				flex-direction: column;
				color: white;
				margin: 10px;
			}
			.main-column {
				flex: 5;
				height: 50%;
				z-index: 999;
				.social {
					background: rgba(0, 0, 0, 0.4);
					text-align: center;
					margin: 0 auto;
					li {
						font-size: 20px;
						margin: 0 auto;
						.fa{
							color: white;
							&:hover {
								color: #67a4cc;
							}

						}
					}
				}
				.main-image {
					padding: 20px;
					display: block;
					img {
						display: block;
						height: 150px;
						width: auto;
						border-radius: 50%;
						margin: 0 auto;
						margin-bottom: -10px;
					}
				}
				.showInfo {
					margin: 0 auto;
					width: 325px;
					height: 325px;
					display: flex;
					display: none;
					flex-direction: row;
					.awards {
						ul {
							width: 30px;
							display: none;
							li:first-of-type {
								padding-top: 3px;
							}
							li {
								background-color: rgba(0, 0, 0, 0.4);
								padding: 0px 5px;
								p {
									display: none;
								}
								img {
									display: none;
								}
							}
						}
					}
					.about-content {
						background: rgba(0, 0, 0, 0.6);
						padding: 20px;
						display: block;
						// flex: 8;
						.name {
							font-size: 30px;
							font-weight: bold;
							margin: 0;
							display: inline-block;
							margin-top: -10px;
							// padding-bottom: 14px;
						}
						p {
							display: none;
							// margin-top: -20px;
							// span {
							// 	display: flex;
							// 	// align-self: center;
							// 	// align-items: center;
							// 	margin-left: 300px;
							// 	padding: 20px;
							// }
						}
						.main-summary {
							// display: none;
							p {
								display: inline-block;
							}
						}
					}
					.sideTitle {
						display: flex;
						background-color: rgba(0, 0, 0, 0.4);
						writing-mode: vertical-rl;
  						text-orientation: sideways-right;
						justify-content: center;
						// width: 30px;
						// display: none;
						h3 {
							text-align: center;
							font-size: 16px;
							letter-spacing: 2px;
							padding: 6.5px;
							margin: 0px;
							display: none;
						}
					}
				}
				.eIcons {
					margin: 0 auto;
					ul {
						background: rgba(0, 0, 0, 0.4);
						margin: 0 auto;
						list-style: none;
						max-width: 300px;
						li {
							font-size: 20px;
							padding: 2px 5px 2px 5px;
							&:hover {
								background-color: rgba(103,164,204,0.6);
								cursor: pointer;
							}
							.fa{
								color: white;
								&:hover {
									color: white;
									cursor: pointer;
								}
							}
						}
					}
					.edu {
						.edu-button {
							width: 25px;
							height: 25px;
							// margin-bottom: -7px;
							// background: url(../svgs/UPenn_Logo.svg) no-repeat;
							display: inline;
						}
					}
				}
			}
			.port-wrapper {
				flex: 8;
				flex-direction: row;
				background: transparent;
				margin: 0;
				margin-top: -5%;
				.samples {
					// margin-top: 15%;
					.sample {
					}
				}
				.samples-text {
					flex: 3;
					.sample-text {
/*						height: 14em;*/
						padding: 5px;
						padding-left: 10px;
						z-index: 999;
						p{
							display: none;
						}
					}
				}
				.samples-name {
					flex: 1;
					text-align: center;
					font-weight: 1000;
					z-index: 999;
					.sample-name {
						margin-top: -10%;
						a {

							cursor: pointer;
							img {
								width: 300px;
								height: auto;
								&:hover {
									cursor: pointer;
								}
							}
						}
					}
				}
			}
		}
	}
}

.cityPoints {
   /*transform-origin: 1100px 100px 1000px;*/
    position: fixed;
  	height: 100%;
    width: 100%;
    /*margin: 0 auto;*/

}

.PointsActual {

	position: fixed;
  	height: 100%;
    width: 100%;

/*    fill: blue;*/

}


#bgIMG {
	background-size: cover;
	background-color: blue;
}

.sources {
	width: 193px;
	height: 145px;
	z-index: 2;
	bottom: 0;
	left: 0;
	flex: 1;
	position: fixed;
	object {
		opacity: 0.4;
		&:hover {
			opacity: 1;
		}
	}
}

.popName {
	background-color: rgba(255,255,255, .5);

}

.pop2010 {
	color: white;
	background-color: $blueOne;

}

.pop2000 {
	color: white;
	background-color: $yellowOne;
}

.textOver {
	padding: 5px;
	position: absolute;
	z-index: 10;
	visibility: hidden;
}


.modal {
	 
	.modal-dialog {

		.modal-content, .modal-content2 {
			height: auto;


			.buttonDiv {
				margin: 0 auto;
				background-color: rgba(0, 0, 0, 0.4);;
				text-align: center;
				&:hover {
					background-color: #2084C6;
				}

				p{

					color:white;

					// font-family: open-sans-serif;


				}
			}

			.siteSample{

				display: none;
				width: 100%;
				height: 100%;

			}
		}
		.modal-content2{
			height: 900px;

		}
	}
}

@media screen and (max-width: 524px) {
	html {
		body {
			.wrapper {
				display: block;
				.port-wrapper {
					.samples-text {
						display: none;
					}
					.samples-name {
						margin-top: 8%;
					}
				}
			}
			.sources {
				position: static;
			}
		}
	}
}

@media (min-width:525px) and (max-width:1000px) {
	html {
		body {
			.wrapper {
				.main-column {
					z-index: 999 !important;
				}
				.port-wrapper {
					.samples-text {
						display: none;
					}
					.samples-name {
						margin-left: -10%;
						margin-top: 10%;
					}
				}
			}
		}
	}
}



// Under Construction Header //

@media screen and (max-width: 550px) {
	html {
		body {
			.wrapper {
				header {
					margin-left: 10% !important;
				}
			}
		}
	}
}







